@import url(https://use.fontawesome.com/releases/v6.0.0/css/all.css);

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f5;
}

.todo-container {
  width: 40%;
  min-height: 60vh;
  margin: 10vh 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.todo-group {
  width: 100%;
}

.todo-list {
  height: 50px;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #ddd solid;
  background-color: #fff;
}

.todo-intro {
  font-size: 15px;
}

.todo-intro-title {
  font-weight: 600;
  opacity: 0.9;
  color: #545862;
}

.todo-intro i {
  font-size: 17px;
  opacity: 0.5;
  color: #333;
}

.todo-add * {
  color: #ddd;
}

.todo-add input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.todo-add input::placeholder {
  color: #ddd;
}

.todo-add i {
  font-size: 12px;
}

.todo-item {
  position: relative;
}

.edit-focus-element {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  background-color: #fff;
}

.checked-icon {
  color: #2e8ae6;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.unchecked-icon {
  font-size: 13px;
  border: 2px #ddd solid;
  cursor: pointer;
  color: transparent;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}

.todo-item input {
  width: calc(100% - 30px);
  padding: 0 15px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  text-align: start;
  position: relative;
  z-index: 1;
}

.undecoration {
  color: #000;
  text-decoration: none;
}

.decoration {
  opacity: 0.5;
  color: #333;
  text-decoration: line-through;
}

.delete-icon,
.more-icon {
  font-size: 17px;
  opacity: 0.5;
  color: #333;
  cursor: pointer;
}

.delete-icon {
  display: none;
}

.more-icon {
  display: block;
}

.clear-todo {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  outline: none;
  border: none;
  background-color: #f1f2f5;
  font-size: 16px;
  cursor: pointer;
}

.clear-todo span {
  opacity: 0.5;
  color: #333;
}

.clear-todo span:hover {
  opacity: 1;
  color: #000;
  text-decoration: underline;
}

.edit-todo:focus ~ .edit-focus-element {
  background-color: #fffecb;
}

.delete-icon:active {
  display: block;
}

.edit-todo:focus ~ .delete-icon {
  display: block;
}

.edit-todo:focus ~ .more-icon {
  display: none;
}

.delete-icon:active ~ .more-icon {
  display: none;
}
